<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 pb-6">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/plats/Cooking-Recipes.jpg">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body margin-top-test ">
                    <div class="text-center">
                        <h3>
                            Akoho gasy matsiro
                        </h3>
                        <div class="col-md-12 text-center">
                            <div class="heading">25000 Ariary</div>
                        </div>
                        <hr class="my-4" />
                        <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records
                            all of his own music.</p>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 pb-6">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/plats/Cooking-Recipes.jpg">
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="card-body margin-top-test ">
                    <div class="text-center">
                        <h3>
                            Akoho gasy matsiro
                        </h3>
                        <hr class="my-4" />
                        <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records
                            all of his own music.</p>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 pb-6">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/plats/Cooking-Recipes.jpg">
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="card-body margin-top-test ">
                    <div class="text-center">
                        <h3>
                            Akoho gasy matsiro
                        </h3>
                        <hr class="my-4" />
                        <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records
                            all of his own music.</p>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 pb-6">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/plats/Cooking-Recipes.jpg">
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="card-body margin-top-test ">
                    <div class="text-center">
                        <h3>
                            Akoho gasy matsiro
                        </h3>
                        <hr class="my-4" />
                        <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records
                            all of his own music.</p>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>